html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1000px;
    line-height: 1,65;
}

/* Latihan 1 */
.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    order: 2;
    flex: 3;
}

.sidebar-satu {
    order: 1;
    flex: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/* Latihan 2 */

.container-dua {
    max-width: 800px;
    margin: 50px auto;
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu {
    background-color: rgb(161, 161, 255);
}

.layanan.dua {
    background-color: rgb(255, 106, 106);
}

.layanan.tiga {
    background-color: rgb(82, 247, 82);
}

/* Latihan 3 */
.container-tiga {
    max-width: 800px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 50%;
}

.thumbnail img {
    width: 100%;
}

/* Latihan 4 */
.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;
}

.card {
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    flex: 1;
}

.card .header {
    height: 150px;
    background-color: #666;
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}

.card.besar {
    transform: scale(1.12);
}

/* Latihan lima */
.container-lima {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    border: 1px solid black;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    margin: auto;
    display: flex;
}

.kotak span {
    margin: auto;
    text-align: center;
}

/* Responsive */
@media(min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }

    .thumbnail {
        width: 25%;
    }
}